@model BabyStore.ViewModel.Basket.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Index", "Basket")">
            <i class="fas fa-shopping-basket fa-1x"></i>
            @Model.NumberOfItems items(s)
                         @HttpUtility.HtmlDecode(Html.DisplayFor(model => Model.TotalCost).ToString())
        </a>
    </li>
</ul>

