@model BabyStore.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.Partial("_UserDetailsPartial")
    </dl>
</div>
<h4>This user belong to:</h4>
@if (ViewBag.Roles.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}
<table class="table">
    @foreach (var item in ViewBag.Roles)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

